#########################
#                       #
#      ~/.aliases       #
#                       #
#########################

# color ls
alias ls='ls --color=auto'

# clear screen
alias c='clear'

# grep with colors
alias grep='grep --color --exclude-dir=~/.{cache,.local/share/containers} --exclude=tags'
alias grepn='grep -n --color'

# change dirs
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../..'

alias .2='cd ../..'
alias .3='cd ../../..'
alias .4='cd ../../../..'
alias .5='cd ../../../../..'

# history aliases
alias h='history'
alias hg='history | grep'
alias hgi='history | grep -i'

# create dirs
alias mkdir='mkdir -pv'
mcd () {
    mkdir -p $1
    cd $1
}

# bat aliases
alias bat='bat --theme ansi-dark -n'

# search through aliases
alias ggaa='alias | grep'
alias ggii='alias | grep -i'

# VimWiki
#alias wiki='vim -c VimwikiIndex'

# protontricks for flatpak
#alias protontricks-flat='flatpak run --command=protontricks com.valvesoftware.Steam --no-runtime'

# tldr
alias tl='tldr'

# dotfiles dir
alias dots='/usr/bin/git --git-dir=$HOME/.dots --work-tree=$HOME'
